<style>
#home{
    position: relative;
}
#home img{ 
    margin:10 auto;
    position: absolute;
    bottom: 240px;
    left: 0px;
}

h4{
    color:white;
}
#register{
    background-color:#158399;
    border: none;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: inherit;
    display: flex;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    position: absolute;
    right:25px;
    top:25px;
}
#register:hover{
        box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2), 0 30px 40px 0 rgba(142, 217, 2, 1);

}
button {
    background-color:#158399;
    border: none;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: inherit;
    display: flex;
    width: 200px;
    margin:10px;
    font-size: 16px;
    margin-left: -20
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

}
button:hover{
    box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2), 0 30px 40px 0 rgba(142, 217, 2, 1);
}

#userlogin{
    position:relative;
    left:-85px;
    top:10px;
}
p{
    font-size:20px;
    color: grey;
    font-weight:bold;
}

input[type=text], input[type=password] {
    width: 19%;
    padding: 10px 5px;
    display: inline-block;
    border: 5px solid #ccc;
    box-sizing: border-box;
    font-size:15px;
}



#ligue1 {
  float:left;
  margin-left: 50px;
  text-align: center;
  font-size:30px;
}

#premier {
    float:left;
    margin-left:50px;
    text-align: center;
    font-size:30px;

}

#spain {
  display: inline-block;
  float:left;
  margin-left:50px;
  text-align: center;
    font-size:30px;


}
#germany {
    float:left;
    margin-left: 50px;
    text-align: center;
    font-size:30px;

}

#italian {
    float:left;
    margin-left: 50px;
    text-align: center;
    font-size:30px;

}
a{
    text-decoration: none;
    color:white;
}

a:hover, a:active{
    color:white;
}
a:link, a:visited{

}

body{
    background-image: url(homebk.png);
    background-size: cover;
    color: #000;
    font-family: Arial, 'Black';
    text-align: left;
    margin: 0 auto;
    width: 100%;
    clear: both;
}

.mainheader img{
    margin: 3% 0;
}
.mainheader nav {
    width: 98%;
    background-color: #fff;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainheader nav ul{
    list-style: none;
    margin: 0 auto;

}

.mainheader nav ul li{
    float: left;
    display: inline;
    padding: 0px 70px;
  word-wrap: normal;
  display: inline-block;
}
.mainheader nav a:link, .mainheader nav a:visited{
    color: #FFF;
    display: inline-block;
    padding: 10px;
    height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
    background-color: #FFF;
    text-shadow: none;
}

.mainheader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

</style>