<style>


#home{
    position: relative;
}
#home img{ 
    margin:10 auto;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logoutbutton{
    float:right;
    margin: 20 auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button {
    position:absolute;
    right:457px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: -50%;
}
.container {
    margin-left:500px;
    padding: 16px;
}

#ligue1 {
  display: inline-block;
  float:left;
  margin-left: 100px;
  text-align: center;
}

#premier {
    margin-left: 500px;
    text-align: center;

}

#spain {
  display: inline-block;
  float:left;
  margin-left: 100px;
  text-align: center;

}
#germany {
    margin-left: 500px;
    text-align: center;

}

#italian {
    margin-left: 50px;
    text-align: center;

}
a{
    text-decoration: none;
}

a:hover, a:active{

}
a:link, a:visited{

}

body{
    background-color: #fff;
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, 'Black';
    text-align: left;
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainheader img{
    margin: 3% 0;
}
.mainheader nav {
    width: 98%;
    background-color: #fff;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainheader nav ul{
    list-style: none;
    margin: 0 auto;

}

.mainheader nav ul li{
    float: left;
    display: inline;
    padding: 0px 70px;
  word-wrap: normal;
  display: inline-block;
}
.mainheader nav a:link, .mainheader nav a:visited{
    color: #FFF;
    display: inline-block;
    padding: 10px;
    height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
    background-color: #FFF;
    text-shadow: none;
}

.mainheader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

</style>